html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #16161a;
  font-family: Nunito;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

div {
  white-space: pre-line;
}
